.container.game {
  padding-top: 9rem;
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80rem;
  width: 100vw;
}

.container.game .game-info {
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  gap: 2rem;
  border-bottom: 2px solid var(--color-dark);
}

.container.game .game-info .difficulty {
  text-transform: capitalize;
}

.container.game .questions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 2rem;
  margin-top: 1.5rem;
}
