/* ############ THEME TOGGLER ############ */

#toggler-checkbox {
  display: none;
}

.toggler {
  display: block;
  width: 6rem;
  height: 3.1rem;
  border: 0.2rem solid var(--color-primary);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.ball,
.sun,
.moon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ball {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  left: 0.1rem;
  z-index: 10;
  transition: transform 0.5s ease-in-out;
}

.sun {
  left: 0.5rem;
}
.moon {
  right: 0.5rem;
}

#toggler-checkbox:checked + .ball {
  transform: translate(2.9rem, -50%);
}

.ball {
  display: inline;
  width: 25px;
  height: 25px;
  background-color: var(--color-primary);
  border-radius: 50%;
  left: 1px;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
}

/* ############ BUTTONS ############ */

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 600;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 1.6rem;
  color-scheme: light;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-light);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-gray);
}

/* ############ BUTTON CTA ############ */
.cta {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  color: var(--color-dark);
  background: none;
  padding: 12px 18px;
  position: relative;
}

.cta::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(120%);
  width: 45px;
  height: 45px;
  background: var(--color-secondary);
  border-radius: var(--border-radius);
  transition: transform 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2),
    width 0.25s cubic-bezier(0, 0, 0.5, 2);
  z-index: -1;
}

.cta:hover::before,
.cta:focus::before {
  width: 100%;

  transform: translateY(-50%) translateX(-18px);
  transition: transform 0.25s cubic-bezier(0, 0, 0.5, 2),
    width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
}

.cta .cta-icon {
  margin-left: 5px;
  transition: transform 0.25s 0.4s cubic-bezier(0, 0, 0.5, 2);
}

.cta:hover .cta-icon,
.cta:focus .cta-icon {
  transform: translate(3px);
}
