/* ############ BUTTONS ############ */

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 2rem;
  color-scheme: light;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--color-primary);
  color: white;
}

#checkbox {
  display: none;
}

.toggler {
  display: block;
  width: 6rem;
  height: 3.1rem;
  border: 0.2rem solid var(--color-primary);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.ball,
.sun,
.moon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ball {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  left: 1px;
  z-index: 10;
  transition: transform 0.5s ease-in-out;
}

.sun {
  left: 0.5rem;
}
.moon {
  right: 0.5rem;
}

#checkbox:checked + .ball {
  transform: translate(2.9rem, -50%);
}
